extends layout

block content
  .dashboard-wrap
    .user-menu
      span.user-id id here
      button#signout Sign out
      span.create-menu
        button#createFile New Document
        button#createFolder New Folder
    .folders
      .folder-title Private
      .folder.private
        a(href="/folder/folderId").doc
          .folder-img
            .folder-icn
          .doc-title asdasd
        a(href="/texteditor").doc
          .doc-img
            .doc-icn
          .doc-title my_document
      .folder-title Public
      .folder.public
        a(href="/texteditor").doc
          .doc-img
            .doc-icn
          .doc-title my_document
        a(href="/texteditor").doc
          .doc-img
            .doc-icn
          .doc-title my_document  
        a(href="/texteditor").doc
          .doc-img
            .doc-icn
          .doc-title my_document
        a(href="/texteditor").doc
          .doc-img
            .doc-icn
          .doc-title my_document  
