extends layout

block content
  .dashboard-wrap
    .user-menu
      span.user-id exanamu
      button#signout Sign out
    .folders
      .folder-title Private
      .folder.private
        a(href="/texteditor").doc
          .doc-img
            .doc-icn
          .doc-title my_document
      .folder-title Public
      .folder.public
        a(href="/texteditor").doc
          .doc-img
            .doc-icn
          .doc-title my_document
        a(href="/texteditor").doc
          .doc-img
            .doc-icn
          .doc-title my_document  
        a(href="/texteditor").doc
          .doc-img
            .doc-icn
          .doc-title my_document
        a(href="/texteditor").doc
          .doc-img
            .doc-icn
          .doc-title my_document  
