extends layout

block content
  .main-wrap
    input(id="login",type="radio",name="type",checked="checked").hidden
    label(for="login").login
      .float
        .title Sign in
        form(action="/signin" method="post")
          .form-line
            label(for="loginID") Email
          .form-line
            input#loginID(type="text" name="email")
          .form-line
            label(for="loginPW") Password
          .form-line
            input#loginPW(type="password" name="password")
          input#postLogin.lastBtn(type="submit" value="Login")
      button#goSignup Create Account
    input(id="signup",type="radio",name="type").hidden
    label(for="signup").signup-form
      .float
        .title Sign up
        .form-line
          label(for="signupID") Email Address
        .form-line
          input#signupID(type="text")
        .form-line
          label(for="signupPW") Password
        .form-line
          input#signupPW(type="password")
        .form-line
          label(for="signupPWRepeat") Repeat Password
        .form-line
          input#signupPWRepeat(type="password")
        button#postSignup.lastBtn Sign up
  script(src="/scripts/jquery-3.3.1.min.js")
  script(src="/scripts/main.js")

