doctype html
html(lang="kr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    //- firebase
    script(src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js")
    //- CodeMirror
    script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/mode/javascript/javascript.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.css")
    //- Firepad
    link(rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css")
    script(src="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js")
    link(rel="stylesheet" href="/stylesheets/texteditor.css")
    script(src="/scripts/texteditor.js")
    title Realtime Web Office
  body(onload = `init('${id}')`)
    #firepad-container