html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a{
	text-decoration: none;
}
.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input:focus{
	outline: none;
}
/* reset end */

html, body{
  height: 100%;
}
.main-wrap{
	user-select: none;
	overflow: hidden;
 	width: 100%;
    height: 100%;
	background: #fafafa;
	position: relative;
	padding-top: 250px;
	box-sizing: border-box;
	white-space: nowrap;
	transition: padding .4s ease-in-out;
}
.main-wrap:before{
	content: '';
	display: inline-block;
	margin-left: 50%;
}
.main-wrap > label{
	vertical-align: top;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 500px;
	background: rgba(245,245,245);
	text-align: center;
	box-shadow: 5px 5px 12px 3px rgba(170,170,170,0.3);
	transition: all .4s ease-in-out;
	margin-right: 200px;
}
.main-wrap > label::before{
	z-index: 0;
	opacity: 0;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all .4s ease-in-out;
	background: -moz-linear-gradient(-45deg, rgba(64,76,183,0.7) 0%, rgba(64,76,183,0.7) 32%, rgba(5,183,109,0.7) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(64,76,183,0.7) 0%,rgba(64,76,183,0.7) 32%,rgba(5,183,109,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(64,76,183,0.7) 0%,rgba(64,76,183,0.7) 32%,rgba(5,183,109,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3404cb7', endColorstr='#b305b76d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.main-wrap > input:checked + label::before{
	opacity: 1;
}
.float{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 50px 35px;
	box-sizing: border-box;
}
.title{
	position: absolute;
	top: -45px;
	left: 0;
	font-weight: 100;
	font-size: 30px;
	color: #ccc;
}
.main-wrap > input:checked + label .title{
	color:#7880cb;
}
.form-line label{
	color: #ccc;
}
.main-wrap > input:checked + label label{
	color: white;
}
.form-line{
	margin-bottom: 5px;
	text-align: left;
}
.form-line input{
	border: 1px solid transparent;
	padding: 5px 5px;
	background:rgba(255,255,255,0.3);
	color: white;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.form-line input:hover{
	border: 1px solid #ccc;
}
.form-line input:focus{
	border: 1px solid#4fca98
}
input:checked + label .form-line input{
	border: 1px solid transparent;
}
input:checked + label .form-line input:hover,
input:checked + label .form-line input:focus{
	border: 1px solid rgba(255,255,255,0.5);
}
.main-wrap #postLogin,
.main-wrap button{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: transparent;
	border: none;
	border-top: 1px solid rgba(230,230,230,0.2);
	padding: 12px 0;
	font-size: 16px;
	cursor: pointer;
	color: white;
	transition: background .1s ease-in-out;
}
.main-wrap #postLogin:hover,
.main-wrap button:hover{
	background: rgba(255,255,255,0.2);
}
.login{
	width: 500px;
	height: 270px;
	margin-left: -950px;
}
.main-wrap > #login:checked + .login{
	margin-left: -250px;
}
.signup-form{
	width: 500px;
	height: 400px;
}
.main-wrap .folder{
	width: 1200px;
	height: 500px;
}
#goSignup{
	bottom: -50px;
	left: 0;
	color: #ccc;
	font-size: 18px;
}
.main-wrap > input:checked + label #goSignup{
	color: #51c798;
}

/* dashboard */
.dashboard-wrap{
	width: 100%;
	height: 100%;
	padding: 20px;
	color: white;
	font-weight: 100;
	box-sizing: border-box;
	background: -moz-linear-gradient(-45deg, rgba(64,76,183,0.7) 0%, rgba(64,76,183,0.7) 32%, rgba(5,183,109,0.7) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(64,76,183,0.7) 0%,rgba(64,76,183,0.7) 32%,rgba(5,183,109,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(64,76,183,0.7) 0%,rgba(64,76,183,0.7) 32%,rgba(5,183,109,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3404cb7', endColorstr='#b305b76d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.user-menu{
	margin-bottom: 40px;
	font-size: 40px;
	font-weight: 100;
}
.user-id{
	margin-right: 15px;
	font-weight: bold;
}
.create-menu{
	float: right;
}
.create-menu input{
	background: none;
	color: white;
	border: none;
	font-size: 16px;
	border-bottom: 1px solid #ffffff66;
	margin-right: 7px;
	padding: 8px 2px;
}
.create-menu input::-webkit-input-placeholder{
	color: #ffffff55
}
.create-menu button{
	background: white;
	padding: 8px 15px;
	background: #ffffff33;
	border: none;
	color: white;
	cursor: pointer;
	transition: background .2s;
	font-size: 16px;
	border: 1px solid #ffffff11;
}
.create-menu button:hover{
	background: #ffffff66;
}
#signout{
	background: white;
	border-radius: 15px;
	border: none;
	padding: 6px 15px;
	vertical-align: middle;
	font-size: 16px;
	color: black;
	cursor: pointer;
}
.folder{
	box-sizing: border-box;
	background:rgba(255,255,255,0.2);
	width: 100%;
	padding: 30px;
	box-shadow: 0 0 15px 0 #ffffff1f;
}
.folder-title{
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 5px;
	font-weight: 100;
	color: #ffffffaa;
}
.doc{
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
}
.doc-img{
	position: relative;
	background: white;
	width: 50px;
	height: 50px;
	border-radius: 8px;
	margin: 0 auto;
	box-shadow: 3px 3px 2px 0px #ccccccff;
}
.doc-icn{
	position: absolute;
	top: 9px;
	left: 9px;
	background: url('/imgs/icn_doc_wh.png');
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
}
.doc-title{
	padding-top: 12px;
	max-width: 120px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: white;
}